.banner-anime-overlay{
    position: relative;
    margin-top: -90px;
    max-height: 450px;
    min-height: 450px;
    overflow: hidden;
}

.cover-wrapper{
    min-width: 420px
}

.cover-image{
    -o-object-fit: cover;
       object-fit: cover;
    min-width: 160px;
    max-width: 160px;
    max-height: 226px;
    border: none
}

.info-detail{
    width: 100%;
    color: white;
    margin-left: 5%;
    position: relative
}

.banner-anime-image{
    height: 100%
}

.banner-info-image{
    min-height: 450px;
    width: 100%;
}

.bottom-detail{
    display: flex;
    flex-direction: row
}

.bottom-detail > div h6{
    border-radius: 10px;
    color: #282828;
    background-color: #A0A0A0;
    padding: 5px;
    display: inline-block;
}


/* SECTION OF TITLE */
/* .country h6{
    background-color:#f98866
}
.score h6{
    background-color:#ff420e
}
.duration h6{
    background-color:#80bd9e
}
.views h6{
    background-color:#89da59
}
.release-date h6{
    background-color: #BA5536
} */



.bottom-detail > div:not(:first-child):not(:last-child) {
    margin-left: 30px;
}

.bottom-detail div:is(:last-child){
    margin-left: auto;
    margin-right: 25px
}

.swiper-container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style:none;
    padding: 0;
    width: 90%;
    height: 100px
}

.wrapper-info-bottom{
    position: relative;
    width: 100%
}

.episode-list{
    position: absolute;
    width: 100%
}

.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    
}

.swiper-slide{
    text-align:center;
    margin-left: auto;
    margin-right: auto
}

.swiper-slide > li {
    display: inline-block

}

.episode-chunk {
    cursor: pointer;
    padding: 8px
}

.episode-list-detail{
    margin-top: 40px;
    width: 100%
}

.clearfix{
    content: "";
    clear: both;
  }

  .detail-cover-info{
    margin-top: -60px;
      text-align: right
  }

.detail-cover-info > div {
    color: white;
    max-width: 420px
}

.detail-cover-info > div > h5{
    padding: 2px 10px;
    display: inline-block;
    background-color: #282828;
    border-radius: 15px;
    color: white
  }

li.episode-chunk:hover{
    transition: all 0.4s linear;
    opacity: 0.7
}

@media screen and (max-width: 1024px){

    .info-box{
        flex-direction: column !important 
    }
    .detail-cover-info > div {
        color: white;
        max-width: none!important
    }
    .detail-cover-info{
        text-align: center
    }
    .anime-title{
        text-align: center;
    }
    .bottom-detail{
        text-align:center
    }
    .info-detail{
        margin-left: 0
    }
}

@media screen and (max-width: 768px){
    .cover-wrapper{
        min-width: 0 !important
    }
    .info-detail{
        margin-left: 0
    }
    .bottom-detail{
        flex-direction: column
    }
    .bottom-detail > div:not(:first-child):not(:last-child){
        margin-left: 0
    }
    .bottom-detail div:is(:last-child){
        margin-left: 0;
        margin-right: 0
    }
    .youtube-link{
        width: 100%
    }

    .youtube-link div {
        width: auto!important;
        height: auto!important;
    }

    .episode-anime-row > .col{
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .episode-anime-row{
        margin-left: 0!important;
        margin-right: 0!important
    }
    .banner-info-image{
        width: auto !important;
        min-height: auto!important
    }
}