.MuiSlider-valueLabel{
  background-color: rgba(255,0,0,0.6)!important
}
.MuiContainer-root{
  padding-left: 0 !important;
  padding-right: 0 !important
}

.go-back-button .MuiButton-label {
  color: white!important
}

.go-back-button:hover {
  transition: all 0.5s linear;
  background-color: rgba(255,0,0,1) !important
}

.back-arrow{
  top: 0;
  left: 0;
  position: fixed;
}

.back-arrow:hover{

  transition: 0.3s;
  color: white
}

.video-js.vjs-fluid{
  width: 100% !important
}

video {
  min-height: 100vh;
  max-height: 100vh
}

.video-js-wrapper{
  width: 100%
}

.video-active {
  width: 100% !important;
}

.episode-content{
  /* margin-left: 20px; */
  min-width: 30vh;
  max-width: 30vh;
  position: relative
}

.episode-section{
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.episode-section-fixed{
  /* position: fixed; */
  display:flex;
  flex-direction: row;
  background-color: black
}

.episode-section-title{
  width: 100%;
  display: inline-block;
}

.episode-bracket{
  /* width: 100%; */
  margin-top: 40px;
  overflow: scroll;
  min-height: 95vh;
  max-height: 95vh;
  /* margin-left: 15px;
  margin-right: 15px; */
}

.episodes{
  padding: 3px;
  color: rgb(192, 190, 190) !important;
  background-color: rgb(139, 114, 114);
  border-radius: 8px;
  width: 90%;
  cursor: pointer;
  text-overflow: clip;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  line-height: 1.8;
  height: 78px;
  margin: 0 auto;
  margin-top: 20px;
}

.episodes a p {
  margin: 0!important;
}

.active-hide {
  width: 0;
}

.episodes:hover{
  opacity: 0.7;
  transition: linear 0.25s
}

.active{
  background-color: rgb(163 50 50);
}

@media screen and (max-width: 640px) {
  .MuiTypography-root{
    font-size: 0.7rem !important
  }

  .video-js-wrapper{
    display: block !important;
  }

  .episode-content{
    max-width: auto !important;
    min-width: unset !important;
    width: 90% !important;
    margin: 0 auto;
  }
}