.MuiSlider-valueLabel{
  background-color: rgba(255,0,0,0.6)!important
}
.MuiContainer-root{
  padding-left: 0 !important;
  padding-right: 0 !important
}

.go-back-button .MuiButton-label {
  color: white!important
}

.go-back-button:hover {
  transition: all 0.5s linear;
  background-color: rgba(255,0,0,1) !important
}


@media screen and (max-width: 640px) {
  .MuiTypography-root{
    font-size: 0.7rem !important
  }
}