.MuiSlider-valueLabel{
  background-color: rgba(255,0,0,0.6)!important
}
.MuiContainer-root{
  padding-left: 0 !important;
  padding-right: 0 !important
}

.go-back-button .MuiButton-label {
  color: white!important
}

.go-back-button:hover {
  transition: all 0.5s linear;
  background-color: rgba(255,0,0,1) !important
}

.back-arrow{
  top: 0;
  left: 0;
  position: fixed;
}

.back-arrow:hover{

  transition: 0.3s;
  color: white
}

.video-js.vjs-fluid{
  width: 100% !important
}

video {
  min-height: 100vh;
  max-height: 100vh
}

.video-js-wrapper{
  width: 100%
}

.episode-content{
  width: 30%
}

.episodes{
  padding: 3px;
  color: rgb(192, 190, 190) !important;
  background-color: rgb(139, 114, 114);
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  text-overflow: clip;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

.episodes:hover{
  opacity: 0.7;
  transition: linear 0.25s
}

.active{
  background-color: rgb(163 50 50);
}

@media screen and (max-width: 640px) {
  .MuiTypography-root{
    font-size: 0.7rem !important
  }
}