.video-js.vjs-fluid {
	padding-top: 0;
	height: 100vh !important;
}

.video-js .vjs-play-progress {
	background-color: #d95656 !important;
}

.video-js .vjs-big-play-button {
	top: 50% !important;
	left: calc(50% - 45px) !important;
	border: none !important;
	border-radius: 3rem !important;
	color: black;
}

.video-js .vjs-big-play-button:hover {
	transition: all 0.4s linear;
	background-color: red;
	transition: all 0.4 linear;
	color: white;
}

.vjs-control-bar {
	background-color: rgba(0, 0, 0, 0.3) !important;
	color: white;
}

.video-js-wrapper .video-js {
	padding: 0 !important;
}

.vjs-modal-dialog-content {
	color: black;
}

.video-js .vjs-control-bar {
	bottom: 10px !important;
}

.top-wrapper {
	display: flex;
	flex-direction: row;
	z-index: 100000000 !important;
}

.top-left button,
.top-right button {
	font-size: 40px;
	background-color: red;
	margin-left: 20px;
}
