.anime-newest {
	color: black !important;
	background-color: #ffc107;
	box-shadow: 5px 10px #495057;
	padding: 0 6px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.homeSwiper .swiper-slide .inner img {
	width: 100%;
}

.swiper-pagination-progressbar-fill {
	--swiper-theme-color: red;
}

.swiper-button-next,
.swiper-button-prev {
	--swiper-theme-color: red;
}

.overlay {
	position: absolute;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon {
	color: red !important;
	cursor: pointer;
}

.card-container:hover {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	opacity: 0.7;
}

.card {
	height: auto;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.homeSwiper {
	width: 95%;
}

.anime-card .card-body {
	height: 180px;
}

.card-body {
	background-color: #343a40;
}

.card-img-top {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.center-title {
	text-align: center;
}

.anime-top-day {
	color: black !important;
	display: inline-block;
	background-color: #ffa781;
	box-shadow: 0px 8px 0px #5b0e2d, -10px 8px 0px #5b0e2d, 10px 8px 0px #5b0e2d;
	-webkit-animation-name: backgroundColorPalette;
	animation-name: backgroundColorPalette;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clearfix {
	content: "";
	clear: both;
}

.description-card {
	color: white !important;
	min-height: 100%;
	max-height: 100% !important;
	background: rgba(163, 163, 163, 0.2) !important;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.today-banner-card-image,
.today-cover-image {
	cursor: pointer;
}

.today-banner-card-image:hover,
.today-cover-image:hover {
	transition: all 0.4s linear;
	opacity: 0.4;
}

@-webkit-keyframes backgroundColorPalette {
	0% {
		background: #565554;
	}
	25% {
		background: #2e86ab;
	}
	50% {
		background: #f6f5ae;
	}
	75% {
		background: #f5f749;
	}
	100% {
		background: #f24236;
	}
}

@keyframes backgroundColorPalette {
	0% {
		background: #565554;
	}
	25% {
		background: #2e86ab;
	}
	50% {
		background: #f6f5ae;
	}
	75% {
		background: #f5f749;
	}
	100% {
		background: #f24236;
	}
}

.anime-card-today .card-body {
	background-color: #330000 !important;
	height: 100px;
}

.anime-collection-heading {
	background: linear-gradient(
		-45deg,
		#4bc0c8 25%,
		#feac5e 25%,
		#feac5e 50%,
		#4bc0c8 50%,
		#4bc0c8 75%,
		#feac5e 75%,
		#feac5e
	);
	animation: stripes 1s linear infinite;
	background-size: 20px 20px;
	background-position: 0 0;
	user-select: none;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: stripes 1s linear infinite;
	-webkit-background-clip: text;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

@-webkit-keyframes stripes {
	100% {
		background-position: 20px 0, 20px 0, 20px 0;
	}
}

@keyframes stripes {
	100% {
		background-position: 20px 0, 20px 0, 20px 0;
	}
}

.description-title {
	color: #f05454 !important;
	padding-bottom: 10px;
	text-align: center;
	font-weight: 700 !important;
	font-size: 2rem !important;
	margin-bottom: 0 !important;
	line-height: none !important;
	background-color: #121212;
}

.studio {
	color: yellow;
	margin: 5px 10px;
	background-color: #92a9bd;
	border: 2px solid #92a9bd;
	border-radius: 5px;
	padding: 3px;
}

.studio-text {
	color: orange;
}

.title-box {
	color: white;
	background-color: #222831 !important;
	padding: 0 5px;
}

.title-box > span {
	margin: 5px 5px;
}

.col-9 .card {
	margin-left: 20px;
	border-right: 5px solid !important;
	padding-right: 20px;
	-o-border-image: linear-gradient(to bottom, #ff9966, #ff99cc) 1 100%;
	border-image: linear-gradient(to bottom, #ff9966, #ff99cc) 1 100%;
	border-left: 0px;
	border-bottom: 0px;
	border-top: 0px;
	background-color: #121212 !important;
}

.card-img-bottom.today-banner-card-image {
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	aspect-ratio: auto;
}

.col-3 {
	border-left: 5px solid !important;
	-o-border-image: linear-gradient(to top, #add420, #7fff00) 1 100% !important;
	border-image: linear-gradient(to top, #add420, #7fff00) 1 100% !important;
	border-bottom: 0px !important;
	border-top: 0px !important;
	border-right: 0px !important;
}

.col-3 .image-box {
	box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset,
		rgb(0 0 0 / 15%) 0px -36px 30px 0px inset,
		rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px,
		rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px,
		rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
}

.col-3 .image-box nav a img {
	border-radius: 18px;
}

.title-box {
	margin-top: 20px;
}

.info-today {
	text-align: right;
	padding: 10px;
	font-weight: 500;
	line-height: 1.7rem;
	color: black;
	background-color: yellow;
}

.character-slider {
	margin-right: 230px !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card-text {
	padding: 0 !important;
}

@media screen and (min-width: 1024px) {
	.card-container:hover .overlay-card {
		opacity: 1;
	}
	.card-container {
		position: relative;
	}

	.overlay-card {
		position: absolute;
		opacity: 0;
		transition: all 0.5s ease-in-out;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 1024px) {
	.swiper-button-next,
	.swiper-button-prev {
		display: none !important;
	}

	.overlay-card {
		display: none;
	}

	.anime-newest {
		padding-left: 0;
	}
	.card-img-top {
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.flex-responsive {
		flex-direction: column-reverse;
		margin: 0 auto;
	}

	.flex-mobile {
		width: 100% !important;
	}

	.col-9 .card {
		border-right: 0px !important;
		padding-right: 0 !important;
		-o-border-image: none !important;
		border-image: none !important;
	}

	.col-9 {
		padding: 0;
	}

	.col-3 {
		width: 100% !important;
		border-left: 0px !important;
		-o-border-image: none !important;
		border-image: none !important;
		margin-top: 30px !important;
	}
}

@media screen and (max-width: 1024px) {
	.skeleton-thumbnail {
		max-height: 250px;
	}
}

@media screen and (max-width: 768px) {
	.flex-responsive {
		margin: 0;
	}
	.col-9 {
		padding: 0;
	}
	.skeleton-thumbnail {
		max-height: 222px;
	}
	.card-img-top {
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.english,
	.native,
	.romaji {
		font-size: 14px;
	}
	.character-title {
		padding-left: 0 !important;
	}
	.flex-mobile {
		padding-right: 0 !important;
	}
	.col-3 {
		text-align: center;
		padding-right: 0 !important;
	}
	.card {
		margin: 10px;
	}
}

@media screen and (max-width: 500px) {
	.flex-mobile {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.flex-responsive {
		margin: 0 !important;
	}

	.skeleton-thumbnail {
		max-height: 142px;
	}

	.character-slider {
		margin-right: 185px !important;
	}

	.character-slider img {
		width: 80px !important;
		height: 120px !important;
	}

	.character-title {
		text-align: center !important;
	}

	.col-3 {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.info-character-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.character-slider {
		width: 100%;
		margin-left: 0 !important;
	}
	.character-title {
		display: block;
	}

	.info-today {
		align-items: center !important;
		width: 100% !important;
	}
	.release-date {
		width: 100% !important;
		text-align: center !important;
	}
	.day,
	.month,
	.year {
		margin-left: 0 !important;
	}
	.character-detail {
		width: 100% !important;
	}
}

.webclamp {
	word-break: break-word;
	overflow: hidden;
	text-overflow: clip;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	padding: 3px !important;
	line-height: 1.6;
}

.webclamp__home {
	word-break: break-word;
	overflow: hidden;
	text-overflow: clip;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	min-height: auto;
	max-height: none;
	padding-right: 8px !important;
	padding-left: 8px !important;
}
