.navbar {
	transition: 0.6s;
	height: 80px;
}

.navbar-color {
	background-color: #222 !important;
}

.me-auto {
	align-items: center;
	width: 100%;
}

.navbar-brand {
	font-size: 32px;
	padding: 10px 20px;
	font-weight: 700;
	border: none;
	background-size: 300% 100%;

	border-radius: 20px;
	transition: all 0.8s ease-in-out;

	outline: none;
	background-image: linear-gradient(
		to right,
		#eb3941,
		#f15e64,
		#e14e53,
		#e2373f
	);
	box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.navbar-brand:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
	background-image: linear-gradient(
		to right,
		#eb3941,
		#f15e64,
		#e14e53,
		#e2373f
	);
	box-shadow: 0 5px 15px rgba(242, 97, 103, 1);
}

.nav-link,
.nav-item.dropdown {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
}

.fixed-top-hide {
	transition: all 0.5s ease-in-out;
	top: -100% !important;
}

.dropdown-menu {
	/* display: flex; */
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 600px;
	min-width: 25rem !important;
}

.dropdown-item {
	display: inline-block !important;
	width: 30% !important;
}

.dropdown-menu a:hover {
	transition: 0.3s;
	opacity: 0.6;
}

.search-icon:hover {
	transition: 0.3s;
	color: white;
	scale: 1.2;
}

.collapse {
	transition: 0.4s !important;
}

.show {
	transition: 0.4s !important;
}

.collapsing {
	transition: 0.4s !important;
}

.search-navbar label {
	color: white;
}

.search-navbar input {
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-item {
	text-align: center;
}

.submit-button {
	color: #fff;
}

@media screen and (max-width: 1024px) {
	.navbar-brand {
		font-size: 1rem;
	}

	.dropdown-menu {
		margin: 0 0 8px 0 !important;
	}

	.nav-item.dropdown {
		flex-direction: column;
		margin: 10px 0;
	}
	.user-container {
		text-align: center;
		flex-direction: column;
		margin: 10px 0;
	}
}

@media screen and (max-width: 1024px) {
	.dropdown-menu.show {
		overflow-y: scroll;
		height: 140px;
	}
}

@media screen and (max-width: 768px) {
	.dropdown-menu {
		min-width: 0rem !important;
	}
	.dropdown-menu > a {
		font-size: 0.7rem;
		width: 50% !important;
	}
}
