.language-container {
	margin-left: auto;
}

.language-container button {
	margin: 0 6px;
	border: none;
	border-radius: 6px;
	transition: 0.2s linear;
}

.language-container button:hover {
	opacity: 0.8;
}
