.language-container {
	margin-left: auto;
}

.language-container button {
	margin: 0 6px;
	border: none;
	border-radius: 6px;
	transition: 0.2s linear;
}

.language-container button:hover {
	opacity: 0.8;
}

.vi-btn,
.eng-btn {
	background: #b0b0b0;
}

@media screen and (max-width: 1024px) {
	.language-container {
		margin-right: auto;
		margin-left: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
