.language-container {
	margin-left: auto;
}

.language-container button {
	margin: 0 6px;
	border: none;
	border-radius: 6px;
	transition: 0.2s linear;
}

.language-container button:hover {
	opacity: 0.8;
}

.btn-active-heading {
	background: rgb(165, 97, 42) !important;
	color: rgba(0, 0, 0, 0.877);
}

@media screen and (max-width: 992px) {
	.language-container {
		margin-right: auto;
		margin-left: auto;
		margin-top: 8px;
	}
}
