.episode-list .swiper-button-prev,
.episode-list .swiper-button-next {
	color: #fff;
	font-size: 0.2rem;
	z-index: 10;
	margin-top: 14px;
}

@media screen and (max-width: 1024px) {
	.episode-list .swiper-button-prev,
	.episode-list .swiper-button-next {
		display: flex !important;
	}

	.episode-list .swiper-button-lock {
		display: none !important;
	}
}
