.current-season-swiper .swiper-wrapper .swiper-slide {
	width: 240px;
}

@media screen and (max-width: 640px) {
	.current-season-swiper .swiper-wrapper .swiper-slide {
		width: 180px;
	}
}

@media screen and (max-width: 320px) {
	.current-season-swiper .swiper-wrapper .swiper-slide {
		width: 120px;
	}
}
