/* USER */

.user-container {
	display: flex;
	margin-left: auto;
}

.anime-nav-paragraph {
	display: none;
	padding: 0 !important;
	margin: 0 8px 0 0 !important;
}

.anime-nav-login,
.anime-nav-logout {
	display: flex !important;
	align-items: center;

	height: 100%;
	justify-content: center;

	transition: 0.3s !important;
}

.anime-nav-login svg,
.anime-nav-logout svg {
	margin-right: 8px;
	margin-top: 4px;
	width: 24px;
	height: 24px;
	fill: rgba(255, 255, 255, 0.75);
}

.anime-nav-login:hover,
.anime-nav-logout:hover {
	opacity: 0.7;
}

.user-info-container {
	display: flex;
	align-items: center;
}

.user-info-holder {
	display: flex;
	align-items: center;
	padding: 10px;
}

.user-info-image {
	margin-right: 6px;
	margin-top: 4px;
}

.user-info-image img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.user-info-name {
	color: #ffff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 1024px) {
	.user-container {
		margin-top: 18px;
		margin-left: auto;
		margin-right: auto;
	}
	.anime-nav-paragraph {
		display: block;
	}
}
