.mySwiper {
  position: relative;
  text-align: center;
  max-width: 80%;
  max-height: 500px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  margin-top: 5px;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: left;
    color: white;
    background-color:rgba(0,0,0,0.6);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px
  }

.swiper-slide .inner img {
    width: 100%;
}

.inner:hover{
    transition: all 0.5s ease-in-out;
    opacity: 0.6
}

.inner:after {
    box-shadow: inset 100px 0 100px -5px #000, inset 0 5px 5px -5px #000;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    content: ""; 
    cursor: pointer
}

.swiper-pagination-progressbar-fill{
    --swiper-theme-color: red
}




