h1, .h5{
    color: white !important
}

.anime-h1{
    color: black !important;
    background-color: #ffc107;
    box-shadow: 5px 10px #495057;
    padding-left: 14px;
}

.mySwiper {
  position: relative;
  text-align: center;
  max-width: 80%;
  max-height: 500px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  margin-top: 5px;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: left;
    color: white;
    background-color:rgba(0,0,0,0.6);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px
  }

.swiper-slide .inner img {
    width: 100%;
}

.inner:hover{
    transition: all 0.5s ease-in-out;
    opacity: 0.8
}

.inner:after {
    box-shadow: inset 100px 0 100px -5px #000, inset 0 5px 5px -5px #000;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    content: ""; 
    cursor: pointer
}

.swiper-pagination-progressbar-fill{
    --swiper-theme-color: red
}

.swiper-button-next, .swiper-button-prev {
    --swiper-theme-color: red;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon{
    color: red !important;
    cursor: pointer;
  }

  .inner:hover .overlay {
    opacity: 1;
  }

  .card-container:hover{
    transition: all 0.3s ease-in-out;
    opacity: 0.7
  }


  .card{
      height: auto;
    background-color: rgba(0, 0, 0, 0.5) !important
  }

  .h5{
    font-size: 1rem !important;
  }

  .swiper-slide {
      height: inherit !important
  }

  .newSwiper {
      width: 95%;
  }
  .card-body{
      min-height:4rem;
      max-height:4rem;
      background-color: #343a40
  }

  @media screen and (min-width: 992px){
    .card-container:hover .overlay-card {
        opacity: 1
    }
    .card-container{
        position: relative;
    }

    .overlay-card {
        position: absolute;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  }

  @media screen and (max-width: 992px) {
    .swiper-button-next, .swiper-button-prev {
        display: none !important
    }

    .bottom-left {
        background-color: transparent
    }

    .bottom-left h3, .bottom-left > p {
        font-size: 1em;        
    }
    
    .bottom-left p {
        display: none    
    }

    .card-body{
        min-height:6rem;
        max-height:6rem;
        background-color: #343a40
    }

    .overlay-card{
        display: none
    }

    .anime-h1{
        padding-left: 0
    }
  }


