.login-container {
	/* margin-top: -80px; */
	width: 100%;
	display: flex;
	color: #fff;
}

.login-heading {
	display: flex;
	align-items: center;
}

.login-go-back-btn {
	fill: #fff;
	height: 100%;
	width: calc(1.375rem + 1.5vw);
	margin-right: 8px;
}

.login-go-back-btn svg {
	display: block;
	width: 100%;
	height: 100%;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

.login-go-back-btn:hover svg {
	fill: rgb(124, 54, 54);
}

.col-60 {
	width: 60%;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.col-40 {
	width: 40%;
	display: flex;
	align-items: center;
}

.quote-heading {
	font-weight: 900;
	width: 90%;
	margin: 0 auto 8px auto;
}

.quote-container {
	width: 100%;
}

.quote {
	width: 80%;
	margin: 0 auto 0 auto;
	font-weight: 500;
}

.quote-info {
	text-align: right;
	margin: auto 5% auto auto;
}

.quote-character {
	font-style: italic;
	font-weight: 600;
}

.quote-anime {
	text-decoration: overline;
	font-weight: 800;
}

.login-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social-button svg {
	width: 40px;
	height: 40px;
}

.login-heading {
	font-weight: 700;
}

.login-heading,
.social-button {
	width: 50%;
}
.social-button {
	border-radius: 8px;
	display: flex;
	align-items: center;
	font-weight: 500;
	margin: 8px 0;
	padding: 16px;
	transition: 0.2s linear;
	border: none;
}

.social-button:hover {
	opacity: 0.7;
}

.google-button {
	background: rgb(255, 255, 255);
	color: rgb(24, 24, 24);
}

.facebook-button {
	background: rgb(63, 81, 181);
}

.discord-button {
	background: rgb(140, 158, 255);
}

.social-paragraph {
	margin: 0 auto 0 auto;
}

@media screen and (max-width: 640px) {
	.login-heading {
		font-size: 1.2rem;
	}

	.login-go-back-btn {
		width: 1.2rem;
	}

	.social-paragraph {
		display: none;
	}

	.social-button {
		justify-content: center;
	}

	.login-container {
		flex-direction: column;
		justify-content: center;
		height: 100vh;
	}

	.quote-holder {
		padding-bottom: 30px;
	}

	.col-40 {
		width: 100%;
	}

	.col-60 {
		width: 100%;
		height: auto;
	}

	.login-section {
		margin-top: 16px;
	}

	.login-heading {
		text-align: center;
	}
}
