.controlButton {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.controlButton > svg {
	width: 100%;
	height: 100%;
}

.popper {
	margin-left: 0 !important;
}
