.art-video-player {
	height: 100vh !important;
	width: 100% !important;
}

[class*="hint--"]:after {
	padding: 8px 0;
}

@media screen and (max-width: 1024px) {
	.art-video-player {
		height: 50vh !important;
	}
}
