.art-video-player {
	height: calc(var(--svh, 1svh) * 100) !important;
	width: 100% !important;
}

[class*="hint--"]:after {
	padding: 8px 0;
}

.art-selector-list.art-backdrop-filter {
	left: -6px !important;
}

.art-selector-list.art-backdrop-filter .art-selector-item {
	text-align: left;
}

.art-selector-list.art-backdrop-filter {
	padding: 5px 5px !important;
}

.art-setting-item {
	margin: 2px 2px !important;
	height: 30px !important;
	border-radius: 4px !important;
}
.art-video-player.art-subtitle-show .art-subtitle {
	display: block !important;
}

/* .art-video-player.art-control-show .art-bottom {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
} */

.artplayer-plugin-control .art-bottom {
	height: 70px;
	padding: 0 20px; /* optional: some horizontal padding */
	width: auto; /* allow content-based width */
	max-width: 90vw; /* optional: prevent from overflowing screen */

	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	background-color: #000000b3;
	background-image: none;
	border-radius: 10px;
	align-items: center;
	overflow: visible;
	box-shadow: 0 10px 15px -3px #0003, 0 4px 6px -4px #0003;

	/* Replace margin-left and inset with transform-based centering */
	position: absolute;
	left: 50%;
	/* bottom: 10px; */
	/* transform: translateX(-50%); */
}

@media screen and (max-width: 1024px) {
	.art-video-player {
		height: calc(var(--svh, 1svh) * 50) !important;
	}
}

/* @media screen and (max-width: 768px) {
	.art-control.art-control-screenshot.hint--rounded.hint--top {
		display: none;
	}
	.art-control.art-control-pip.hint--rounded.hint--top {
		display: none;
	}
	.art-control.art-control-fullscreenWeb.hint--rounded.hint--top {
		display: none;
	}
} */

/* @media screen and (max-width: 640px) {
	.art-video-player .art-subtitle {
		font-size: 0.7rem !important;
	}
} */
