.art-video-player {
	height: calc(var(--vh, 1vh) * 100) !important;
	width: 100% !important;
}

[class*="hint--"]:after {
	padding: 8px 0;
}

@media screen and (max-width: 1024px) {
	.art-video-player {
		height: calc(var(--vh, 1vh) * 50) !important;
	}
}
