.art-video-player {
	height: calc(var(--vh, 1vh) * 100) !important;
	width: 100% !important;
}

[class*="hint--"]:after {
	padding: 8px 0;
}

.art-selector-list.art-backdrop-filter {
	left: -6px !important;
}

.art-selector-list.art-backdrop-filter .art-selector-item {
	text-align: left;
}

.art-selector-list.art-backdrop-filter {
	padding: 5px 5px !important;
}

.art-setting-item {
	margin: 4px 2px !important;
	height: 40px !important;
	border-radius: 4px !important;
}

/* .art-video-player .art-subtitle::before,
.art-video-player .art-subtitle::after {
	content: "";
	padding: 4px;
} */

@media screen and (max-width: 1024px) {
	.art-video-player {
		height: calc(var(--vh, 1vh) * 50) !important;
	}

	/* .artplayer-plugin-control .art-bottom {
		width: 100% !important;
	} */

	/* .art-control.art-control-time {
		display: none !important;
	} */
}

@media screen and (max-width: 768px) {
	.art-video-player .art-subtitle {
		font-size: 1rem !important;
	}
}

@media screen and (max-width: 640px) {
	.art-video-player .art-subtitle {
		font-size: 0.7rem !important;
	}
}
