body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter', sans-serif;
}

*{
  box-sizing: border-box;
}
 
html, body{
  width: 100%;
  background-color:#121212 !important;
  min-width: 500px;
  scroll-behavior: smooth
}
