body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 4000px
}

code {
  font-family: 'Inter', sans-serif;
}

*{
  box-sizing: border-box;
}
 
html, body{
  background-color:#121212 !important;
  min-width: 500px
}
