body {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue,
		Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

p {
	padding: 0;
	margin: 0;
}

ol,
ul,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.card-body {
	height: 120px;
}

.browse-button {
	--c: #e95a49; /* the color*/
	box-shadow: 0 0 0 0.1em inset var(--c);
	--_g: linear-gradient(var(--c) 0 0) no-repeat;
	background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
		var(--_g) calc(200% - var(--_p, 0%)) 0%,
		var(--_g) calc(var(--_p, 0%) - 100%) 100%,
		var(--_g) calc(200% - var(--_p, 0%)) 100%;
	background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
	outline-offset: 0.1em;
	padding: 8px;
	transition: background-size 0.4s, background-position 0s 0.4s;
	border-radius: 4px;
}

.browse-button:hover {
	--_p: 100%;
	transition: background-position 0.4s, background-size 0s;
}

.browse-button:active {
	box-shadow: 0 0 9e9Q inset #0009;
	background-color: var(--c);
	color: #fffc;
}

.card-title.h5 {
	font-size: 1rem;
}

.card-img-top {
	aspect-ratio: 16/9;
}

.card {
	margin: 0;
}

input {
	outline-color: transparent;
	border: none;
}

img {
	text-indent: 100% !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	color: transparent !important;
}
img[src=""] {
	visibility: hidden;
}
.swiper-wrapper {
	margin-top: 6px;
}

.random-anime img {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
