body {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue,
		Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

p {
	padding: 0;
	margin: 0;
}

ol,
ul,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* .navbar .container {
	max-width: 100%;
} */

.card-body {
	height: 120px;
}

/* .collasible-nav-dropdown {
	padding: 4px;
	border-radius: 4px;
} */

@media screen and (max-width: 1024px) {
	/* .navbar .container p {
		font-size: 0.7rem;
	}
	#collasible-nav-dropdown {
		font-size: 0.7rem;
	} */
}
